@font-face {
    font-family: "BentonSans";
    font-weight: 400;
    src: url("../font/BentonSans-Regular.eot?") format('eot'),
    url("../font/BentonSans-Regular.woff") format('woff');
    url("../font/BentonSans-Regular.otf") format('otf');
}
@font-face {
    font-family: "BentonSans";
    font-weight: 500;
    src: url("../font/BentonSans-Medium.eot?") format('eot'),
    url("../font/BentonSans-Medium.woff") format('woff');
    url("../font/BentonSans-Medium.otf") format('otf');
}
@font-face {
    font-family: "BentonSans";
    font-weight: 700;
    src: url("../font/BentonSans-Bold.eot?") format('eot'),
    url("../font/BentonSans-Bold.woff") format('woff');
    url("../font/BentonSans-Bold.otf") format('otf');
}