.button {
  display: inline-block;
  -webkit-appearance: none;
  background-color: #ccc;
  padding: 0 30px;
  line-height: (($default-height - $border-size*2)/$default-font-size);
  font-size: $default-font-size;
  cursor: pointer;
  //margin: 0 5px;
  border-radius: $border-radius;
  vertical-align: middle;
  border: $border-size solid transparent;
}
.button-block{
  width: 100%;
  text-align: center;
}

/* Size Definition */
.button-large {
  font-size:$large-font-size;
  padding: 0 45px;
  line-height: (($large-height - $border-size*2)/$large-font-size);
}
.button-small {
  font-size:$small-font-size;
  padding: 0 10px;
  line-height: (($small-height - $border-size*2)/$small-font-size);
}
.button-xsmall {
  font-size: $xsmall-font-size;
  padding: 0 6px;
  line-height: (($xsmall-height - $border-size*2)/$xsmall-font-size);
}


/* Purpose Definition */
.button-primary {
  color: #fff;
  background-color: #004689;
}
.button-secondary {
  color: #333;
  background-color: #fff;
  border-color: #f1f1f1;
}
.button-danger {
  background-color: #611B06;
  color: #fff;
}



.button-group {
  font-size: 0;
}
.button-group .button {
  margin: 0;
  border-radius: 0px;
}
.button-group .button:first-child {
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}
.button-group .button:last-child {
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}