.form-control{
  display: block;
  width: 100%;
  height: $form-control-height;
  padding: 5px 10px;
  font-size: $form-control-font-size;
  color: $form-control-font-color;
  background-color: #fff;
  border: 1px solid $form-control-border-color;
  border-radius: 3px;
}
.form-group{
  margin-bottom: 10px;
  .inputtext{
    margin-top: 10px;
    &:first-child{
      margin-top: 0;
    }
  }
}

/********************************************************
 checkbox
 ********************************************************/
.checkbox-style {
  input[type="checkbox"] {
    position: fixed;
    top: -9999px;
    left: -9999px;
    visibility: hidden;
  }
  .checkbox-display {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    background: url("../../images/common/icon-checkbox.jpg") left center;
    background-size: 15px;
  }
  input[type="checkbox"]:checked + .checkbox-display {
    background: url("../../images/common/icon-checkbox-selected.jpg") left center;
    background-size: 15px;
    transition: all 0.3s ease;
  }
}
