.button {
    display: inline-block;
    padding: 0 50px;
    border: $border-size solid transparent;
    @include border-radius(3px);
    background-color: #ccc;
    font-size: $button-default-size;
    line-height: (($default-height - 2)/$button-default-size);
    letter-spacing: 2px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-appearance: none;
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

/* Purpose Definition */
.button-primary {
    background-color: $brand-primary;
    color: #fff;
    &:hover,
    &:focus {
        color: #fff;
    }
}
.button-secondary {
    border-color: #f1f1f1;
    background-color: $brand-secondary;
    color: #333;
}
.button-danger {
    background-color: transparent;
    color: #8d8d8d;
}

.button-small {
    padding: 0 11px;
    font-size: $font-size-base;
    line-height: (($small-height - 2)/$font-size-base);
}
.button-link {
    padding: 0 2px;
    border-bottom: 1px solid #bdbdbd;
    background-color: transparent;
    font-size: $font-size-base;
    line-height: ((18 - 2)/12);
    letter-spacing: 1px;
}

.button-block{
    display: block;
    width: 100%;
}

.button-group {
    font-size: 0;
    .button {
        margin: 0;
        @include border-radius(0);
        &:first-child {
            @include border-side-radius(top,left,3px);
            @include border-side-radius(bottom,left,3px);
        }
        &:last-child {
            @include border-side-radius(top,right,3px);
            @include border-side-radius(bottom,right,3px);
        }
    }
}

// Button Align
.button-align-center {
    margin-top: 20px;
    text-align: center;
    @include clearfix;
}