//
// Custom Change CSS
//------------------------------------------------

/**********************************************
 Layout
***********************************************/
.content{
    width: 1140px;
    margin: 0 auto;
    padding: 40px 0 60px;
}
.container {
    width: 1140px !important;
}

/**********************************************
 Header
***********************************************/
.header {
    padding-bottom: 21px;
    text-transform: uppercase;
}
.site-brand {
    margin-top: 73px;
    a {
        width: 180px;
    }
}
.site-utility {
    padding: 10px 0;
    background: url(../../images/common/washed-line.png) repeat-x 0 100%;
    margin: -137px 0 135px;
    @include clearfix;
    .link-sale {
        float: left;
    }
    .link {
        float: right;
        .link-login {
            float: left;
        }
        .menu-mypage {
            position: relative;
            float: left;
            margin-left: 20px;
            .mypage-dropdown {
                display: none;
            }
            &.open {
                .link-mypage {
                    position: inherit;
                    z-index: 110;
                }
                .mypage-dropdown {
                    display: block;
                    position: absolute;
                    top: -7px;
                    left: -10px;
                    z-index: 100;
                    width: 90px;
                    padding: 30px 0 6px;
                    background-color: #fff;
                    @include box-shadow(0 0 14px rgba(0,0,0,.1));
                    .mypage-item {
                        padding: 4px 10px;
                        list-style: none;
                        font-size: 11px;
                        &:first-child {
                            padding-top: 11px;
                            border-top: 1px solid #ccc;
                        }
                    }
                }
            }
        }
    }
}
.megaMenu {
    margin: 0 -34px;
    padding-left: 0;
    .megaMenu-item {
        float: left;
        padding: 0 34px;
        list-style: none;
        a {
            font-size: 14px;
            color: $brand-secondary;
            letter-spacing: 2.25px;
        }
        &:hover, &.current {
            a {
                padding-bottom: 1px;
                border-bottom: 1px solid $brand-primary;
                color: $brand-primary;
            }
        }
    }
}

/**********************************************
 Footer
***********************************************/
.footer {
    padding: 30px 0;
    background: url(../../images/common/washed-line.png) repeat-x 0 0;
    text-transform: uppercase;
}
.footer-menu {
    .footer-title {
        display: block;
        margin-bottom: 10px;
        color: $brand-secondary;
    }
    .footer-link {
        li {
            padding: 3px 0;
            font-size: 10px;
        }
    }
    .footer-sharing-link {
        li {
            float: left;
            font-size: 20px;
        }
    }
}
.business-info {
    margin: -3px 0 0 -20px;
    font-size: 11px;
    text-align: right;
    li {
        padding: 3px 0;
    }
    address {
        display: inline-block;
        font-style: normal;
    }
    span:before, address:before {
        display: inline-block;
        width: 1px;
        height: 10px;
        margin: 0 6px;
        background-color: #a6a6a6;
        content: '';
    }
    span:first-child:before {
        width: 0;
        margin: 0;
    }
}
.copyright {
    margin-top: 30px;
    padding-top: 15px;
    border-top: 1px solid #ebebeb;
    font-size: 10px;
    a {
        margin-left: 15px;
        text-transform: capitalize;
        &:first-child {
            margin-left: 20px;
        }
    }
}

/**********************************************
 Common
***********************************************/
.benton { // 영문, 숫자 정의
    font-family: $font-family-en;
    font-style: normal;
}
.box { // 회색 박스
    padding: 30px 30px 55px;
    background-color: #f5f5f5;
}
.box-small { // 패딩값이 다른 회색 박스 .box와 같이 씀
    padding: 20px;
}
.inner-box { // 회색 박스 안에 회색 border가 있는 하얀색 박스
    padding: 20px;
    border: 1px solid #e5e5e5;
    border-width: 1px 0;
    background-color: #fff;
}
.border-box { // 검정색 border 박스
    padding: 20px;
    border: 1px solid #000;
}
.page-title { // 페이지 큰 타이틀
    margin-bottom: 7px;
    font-weight: 400;
    font-size: 24px;
    color: $brand-primary;
    font-family: $font-family-en;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.box-page-title { // 백스 안의 파란색 타이틀
    margin-bottom: 30px;
    font-size: 14px;
    color: $brand-primary;
    letter-spacing: 1px;
}
.box-title { // 워싱 라인이 아래쪽에 들어간 타이틀
    margin: 0 0 39px;
    padding-bottom: 16px;
    background: url(../../images/common/box-washed-line.png) no-repeat 0 100%;
    font-size: 14px;
    color: $brand-secondary;
    letter-spacing: 1px;
    text-align: center;
}
.washed-line-title { // 워싱 라인이 위아래쪽에 들어간 타이틀
    display: block;
    margin: -10px 0;
    font-weight: bold;
    color: #000;
    letter-spacing: 2px;
    text-align: center;
    &:before,
    &:after{
        display: block;
        margin: 10px 0;
        background: url(../../images/common/box-washed-line.png) repeat-x;
        width: 100%;
        height: 1px;
        content: '';
    }
}
.table-title { // 테이블 위에 있는 검정색 타이틀
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2px;
    font-family: $font-family-ko;
    color: #000;
}
.complete-box { // 완료된 페이지에서 사용되는 박스 (워싱이 들어간 위아래 타이틀 포함)
    padding: 20px 20px 50px;
    background-color: #fff;
    text-align: center;
    .washed-line-title {
        font-weight: 400;
        font-size: 32px;
        font-family: $font-family-en;
        color: $brand-primary;
        letter-spacing: 6px;
        text-transform: uppercase;
    }
    .confirm-message {
        display: block;
        margin: 35px 0 7px;
        font-weight: 400;
        font-size: 18px;
        color: $brand-secondary;
    }
}
.warning { // 경고 및 주의 Color
    color: $brand-danger;
}
.caption { // 제목이 있는 유의사항 리스트
    margin-top: 30px;
    dt {
        margin-bottom: 5px;
        font-weight: 700;
        color: #000;
        letter-spacing: 2px;
    }
}
.help-group { // 도움말이 Input 옆에 위치 할때
    @include clearfix;
    .input-button-group {
        float: left;
    }
    .help-box {
        position: relative;
        float: left;
        padding: 5px 0 0 9px;
        .icon-help {
            cursor: help;
            color: $text-color;
        }
        .help-layer {
            display: none;
            position: absolute;
            top: -100%;
            left: 35px;
            width: 320px;
            padding: 15px 15px 13px;
            border: 1px solid #858585;
            @include border-radius(3px);
            background-color: #fff;
        }
    }
    .help-box {
        .icon-help:hover {
            & + .help-layer {
                display: block;
            }
        }
    }
}
// Paging
.paging{
    margin-right: 5px;
    padding: 15px 0;
    text-align: center;
    .prev{
        margin-right: 30px;
    }
    .next{
        margin-left: 20px;
    }
    i {
        color: #626262;
    }
    .prev.disabled,
    .next.disabled {
        i {
            color: #d7d7d7;
        }
    }
    .pagingNum{
        span{
            margin-right: 15px;
            a{
                color: $brand-secondary;
            }
            &:last-child{
                margin-right: 0;
            }
            &.current{
                border-bottom: 1px solid $brand-secondary;
            }
        }
    }
}
.delimiter { // 텍스트 사이 구분자
    li {
        display: inline-block;
        &:before {
            display: inline-block;
            width: 2px;
            height: 11px;
            margin: 0 6px 0 4px;
            border-left: 1px solid #dbdbdb;
            background-color: #858585;
            vertical-align: -1px;
            content: '';
        }
        &:first-child:before {
            width: 0;
            margin: 0;
            border-left: 0;
            content: '';
        }
    }
}
.link-line { // 텍스트 링크 스타일
    border-bottom: 1px solid #bdbdbd;
}
.scroll { // 스크롤
    overflow-y: scroll;
}

/**********************************************
 Product Style
***********************************************/
.discount { // 가격 할인
    display: block;
    font-family: $font-family-en;
    font-style: normal;
    text-decoration: line-through;
}
.price { // 원 가격
    font-weight: 400;
    font-family: $font-family-en;
    color: $brand-secondary;
}
.product-info { // 상품 정보
    .product-image {
        float: left;
        img {
            width: 100px;
            height: 100px;
        }
    }
    .item-info {
        float: left;
        padding-left: 20px;
        .item-badge {
            display: inline-block;
            margin-bottom: 6px;
            padding: 0 10px;
            border: 1px solid $brand-secondary;
            font-size: 10px;
            line-height: (16-2)/10;
            font-family: $font-family-serif;
            color: $brand-secondary;
            &.item-badge-secondary {
                background-color: $brand-secondary;
                color: #fff;
            }
        }
        .item-brand {
            display: block;
        }
        .item-name {
            display: block;
            font-weight: 400;
            color: $brand-secondary;
        }
        .item-option {
            margin-top: 3px;
            li {
                margin-top: -2px;
                font-size: 10px;
                font-family: $font-family-en;
            }
        }
        .button {
            margin: 5px 0 0;
        }
    }
}
.item-option-change { // 다른영역으로 나오는 옵션 변경 영역
    display: none;
    td {
        padding-bottom: 0;
        background-color: #f5f5f5;
    }
    .item-option-box {
        padding-left: 30px;
        text-align: left;
        .form-group {
            margin-bottom: 15px;
            label {
                width: 140px;
                color: $brand-secondary;
                text-transform: uppercase;
            }
            .selectbox {
                width: 328px;
            }
        }
    }
}
.order-button { // 테이블 내 버튼이 위아래
    .form-group {
        display: inline-block;
        margin-bottom: 9px;
        .form-control {
            width: 40px;
            text-align: center;
        }
        + .button-block {
            margin-top: 9px;
        }
    }
    .button-block {
        margin-bottom: 9px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.payment-totals { // 총 결제 금액
    padding-right: 16px;
    text-align: right;
    li {
        padding: 5px 0;
        font-family: $font-family-ko;
        @include clearfix;
        .total-label {
            text-align: left;
        }
        .total-price {
            font-weight: 400;
            color: #000;
            em {
                font-family: $font-family-en;
                font-style: normal;
            }
        }
    }
    .total {
        .total-label {
            padding-top: 2px;
        }
        .total-price {
            font-size: 18px;
            line-height: (22/18);
            color: $brand-primary;
            em {
                font-weight: 700;
            }
        }
    }
}
.ordered-price { // 총 가격 Color
    color: $brand-primary;
}

/**********************************************
 Main
***********************************************/
.main {
    img {
        width: 100%;
    }
    a {
        display: block;
    }
    .container {
        margin-bottom: 20px;
    }
    .bisection a {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .main-product-title {
        display: block;
        width: 100%;
        height: 50px;
        font-size: 13px;
        line-height: (50/13);
        font-family: $font-family-en;
        letter-spacing: 1px;
        text-align: center;
    }
    .shop-collection {
        .main-product-title {
            background-color: #e5e5e5;
        }
    }
    .shop-collection-title {
        margin: 32px 0 16px;
        font-weight: 400;
        font-size: 24px;
        color: $brand-primary;
        font-family: $font-family-en;
        letter-spacing: 4px;
        text-align: center;
        text-transform: uppercase;
    }
}

/**********************************************
 Order
***********************************************/
.order-process {
    margin-bottom: 6px;
    @include clearfix;
    li {
        float: left;
        font-size: 24px;
        font-family: $font-family-en;
        letter-spacing: 5px;
        text-transform: uppercase;
        &:after {
            display: inline-block;
            padding: 0 123px 0 124px;
            font-family: "fontello";
            font-size: 19px;
            vertical-align: 2px;
            content: '\e80f';
        }
        &:last-child:after {
            padding: 0;
            content: '';
        }
        &.current {
            color: #064787;
        }
    }
}

/**********************************************
 Order - Shopping Bag
***********************************************/
.shoppingbag-list {
    margin-bottom: 55px;
}

/**********************************************
 Order - Checkout
***********************************************/
.checkout {
    margin-top: 50px;
    &.confirm-order-product {
        margin-top: 0;
    }
}
.checkout-input {
    .table {
        th, td {
            padding: 0 0 15px 0;
        }
        tr:first-child th,
        tr:first-child td {
            padding-top: 25px;
            border-top: 1px solid #e5e5e5;
        }
        tr:last-child th,
        tr:last-child td {
            padding-bottom: 25px;
            border-bottom: 1px solid #e5e5e5;
        }
        .form-control {
            width: 300px;
        }
        .input-button-group {
            .form-control {
                width: 206px;
            }
        }
    }
    .international-shipping {
        th, td {
            padding-top: 15px;
            border-top: 1px solid #e5e5e5;
        }
    }
}
.coupon-info {
    .selectbox {
        width: 100%;
    }
    .apply-coupon {
        margin: -7px 0;
        font-family: $font-family-ko;
        li {
            padding: 7px 0;
            span {
                display: inline-block;
                width: 50px;
            }
            strong {
                display: inline-block;
                width: 200px;
                font-weight: 400;
                color: #000;
                text-align: right;
            }
            .button {
                margin-left: 8px;
            }
        }
    }
    .coupon-list {
        display: none;
        margin-top: 20px;
        td {
            color: #000;
        }
    }
}
.payment-type {
    &.tabs {
        min-height: 230px;
        .tab {
            label {
                height: 47px;
            }
        }
    }
    .payment-choice {
        margin-bottom: 15px;
        .choice-card-label {
            display: inline-block;
            width: 140px;
            font-weight: 400;
            color: #000;
        }
        .selectbox {
            width: 95px;
            margin-right: 5px;
            &.choice-card {
                width: 205px;
            }
        }
    }
}
.payment-box {
    .checkout-amount {
        margin-top: 25px;
        @include clearfix;
        dt {
            clear: both;
            float: left;
            width: 40%;
            padding: 7px 0;
            &.checkout-total {
                padding-top: 25px;
            }
        }
        dd {
            float: right;
            width: 60%;
            padding: 7px 0;
            color: #333;
            text-align: right;
            em {
                font-family: $font-family-en;
                font-style: normal;
            }
            &.checkout-total {
                font-size: 18px;
                color: $brand-primary;
            }
        }
        .checkout-total {
            margin-top: 15px;
            padding-top: 20px;
            background: url(../../images/common/box-washed-line.png) repeat-x 0 0;
        }
    }
    .checkout-payment {
        margin-top: 17px;
        .checkbox {
            label {
                vertical-align: top;
            }
        }
        .button {
            margin-top: 15px;
        }
    }
}

/**********************************************
 Order - Summary
***********************************************/
.ordered-check {
    .ordered-info {
        margin-top: 35px;
        li {
            font-size: 13px;
            color: #4b4b4b;
        }
        .ordered-num {
            font-weight: 400;
            border-bottom: 1px solid #555;
        }
    }
}
.summary {
    margin-top: 50px;
}
.virtual-account-info {
    li:before {
        border-left-color: #eee;
        background-color: #555;
    }
}

/**********************************************
 My Page - Left Menu
***********************************************/
.leftMenu{
    float: left;
    .subTitle{
        text-transform: uppercase;
        color: #064787;
        font-size: 24px;
        letter-spacing: 2px;
        font-weight: 500;
        margin-bottom: 35px;
    }
    ul{
        li{
            margin-bottom: 20px;
            &:last-child{
                margin-bottom: 0;
            }
            a{
                color: $brand-secondary;
                font-size: 14px;
            }
            &.current a{
                text-decoration: underline;
                font-weight: bold;
            }
        }
    }
}

/**********************************************
 My Page - Wish list
***********************************************/
.wishlist {
    .wishlist-list {
        border-bottom: 1px solid #e5e5e5;
    }
    .discount, .price {
        display: block;
    }
    .wishlist-cancel {
        margin-top: -30px;
        text-align: right;
    }
}

/**********************************************
 My Page - 1:1문의 리스트
***********************************************/
.personal-support-wrap{
    display: inline-block;
    width: 100%;
    .modal{
        .bgSection{
            float: none;
            margin-top: 20px;
            .selWrap{
                display: inline-block;
                width: 100%;
                .monthSel{
                    float: left;
                    ul{
                        display: inline-block;
                        li{
                            border-top: 1px solid #000;
                            border-bottom: 1px solid #000;
                            border-right: 1px solid #000;
                            width: 80px;
                            height: 30px;
                            line-height: (($default-height - $border-size*2)/$font-size-base);
                            text-align: center;
                            float: left;
                            a{
                                color: #000;
                            }
                            &:first-child{
                                border-top-left-radius: 3px;
                                border-bottom-left-radius: 3px;
                                border-left: 1px solid #000;
                            }
                            &:last-child{
                                border-top-right-radius: 3px;
                                border-bottom-right-radius: 3px;
                            }
                            &.current{
                                background-color: #000;
                                a{
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
                .dateSel{
                    float: right;
                }
            }
            .buttonWrap{
                border-top: 0;
                padding-top: 0;
             }
        }
    }
    .bgSection{
        float: right;
        background-color: #f5f5f5;
        padding: 30px;
        position: relative;
        h4{
            color: #064787;
            font-size: 14px;
            padding-bottom: 40px;
        }
        .personal-support-table{
            border-collapse: collapse;
            th{
                color: $brand-secondary;
                border-top: 1px solid #e5e5e5;
                border-bottom: 1px solid #e5e5e5;
                padding: 10px;
            }
            tr {
                >  td{
                    text-align: center;
                    border-bottom: 1px solid #e5e5e5;
                    padding: 10px;
                    background-color: #fff;
                    color: #858585;
                }
            }
        }
        .master{
            > td:nth-child(2){
                color: $brand-secondary;
            }
        }
        .slave{
            > td{
                padding-top: 0;
                padding-bottom: 0;
            }
            td{
                color: #858585;
                font-size: 12px;
                text-align: left;
                &:first-child{
                    font-size: 27px;
                    color: #4b4b4b;
                    text-align: center;
                    vertical-align: top;
                }
                .date{
                    color: #4b4b4b;
                    font-size: 11px;
                }
            }
            table{
                tr:last-child td{
                    border-bottom: 0;
                }
            }
        }
        .modalWrap{
            position: absolute;
            top: 0;
            left: 0;
            width: 740px;
            .table-list{
                margin-top: 20px;
                td{
                    vertical-align: top;
                    padding-top: 15px;
                    &:first-child{
                        p:last-child{
                            margin-top: 10px;
                            a{
                                text-decoration: underline;
                            }
                        }
                    }
                    &:nth-child(4){
                        color: #000;
                    }
                    &:last-child span{
                        color: #004689;
                    }
                }
            }
            .paging{
                border-bottom: 1px solid #e5e5e5;
            }
        }
    }
    .buttonWrap{
        text-align: center;
        margin-top: 20px;
        border-top: 1px solid #e5e5e5;
        .button{
            width: 170px;
        }
    }
}

/**********************************************
 My Page - 1:1문의 쓰기 폼
***********************************************/
.personal-support-write-wrap{
    .personal-support-write-table{
        border-top: 1px solid #e5e5e5;
        padding-top: 13px;
        tr{
            > td{
                padding: 7px 0;
            }
            th{
                padding-left: 15px;
                text-align: left;
                color: #000;
            }
            .input-button-group{
                .form-control {
                    width: 300px;
                }
            }
        }
        .selectbox{
            width: 150px;
        }
        .file_input_textbox{
            width: 85%;
        }
        .email-wrap{
            .input-group{
                max-width: 565px;
                .form-control {
                    width: 190px;
                }
                .selectbox{
                    margin-left: 10px;
                }
            }
        }
        .form-group{
            margin-bottom: 0;
        }
    }
    .buttonWrap{
        padding-top: 20px;
    }
    #write-form-tel{
        max-width: 300px;
    }
}


/**********************************************
 My Page - modal
***********************************************/
.modalWrap{
    position: absolute;
    top: 0;
    left: 0;
    .modal{
        border: 1px solid #858585;
        background-color: #fff;
        padding: 50px 30px;
        z-index: 99;
        position: relative;
        .in_modal{
            position: relative;
            .bgSection{
                padding: 20px;
            }
            .modalTitle{
                text-align: center;
                color: #000;
                font-weight: bold;
                padding: 15px 0;
                position: relative;
                &:before{
                    content: '';
                    background: url("../../images/common/box-washed-line.png") no-repeat;
                    background-size: contain;
                    height: 1px;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                &:after{
                    content: '';
                    background: url("../../images/common/box-washed-line.png") no-repeat;
                    background-size: contain;
                    height: 1px;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
        }
        .closeModalBtn{
            position: absolute;
            top: 20px;
            right: 20px;
            color: #cccdcb;
            i:before{
                margin: -2px;
                border: 1px solid #cccdcb;
                vertical-align: middle;
                font-size: 15px;
            }

        }
    }
    .overlay{
        background: #fff;
        opacity: 0.7;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
}

/**********************************************
 My Page - 회원정보수정
***********************************************/
.privacy-modify {
    .member-privacy {
        margin-top: -10px;
        padding: 25px 20px 0;
        border: 1px solid #e5e5e5;
        border-width: 1px 0;
        .table {
            margin-bottom: 60px;
            td {
                color: #4b4b4b;
            }
        }
    }
    label, .form-group {
        margin-bottom: 0;
    }
    .form-control {
        width: 300px;
    }
    .selectbox {
        width: 105px;
    }
    .checkbox, .radio {
        margin-right: 60px;
    }
    .member-email {
        position: relative;
        .help-inline {
            position: absolute;
            top: 9px;
            left: 303px;
        }
    }
    .privacy-modify-cancel {
        margin-top: -30px;
        text-align: right;
    }
}

/**********************************************
 My Page - 회원탈퇴
***********************************************/
.member-quit {
    margin-top: -10px;
    padding: 40px 20px;
    border: 1px solid #e5e5e5;
    border-width: 1px 0;
    .selectbox {
        width: 334px;
    }
}
.member-quit-input {
    margin-top: 35px;
    dt {
        margin-bottom: 15px;
    }
    textarea.form-control {
        width: 700px;
    }
}

/**********************************************
 My Page - Coupon
***********************************************/
.coupon {
    .coupon-register {
        padding: 20px;
        border-top: 1px solid #e5e5e5;
        strong {
            margin-bottom: 0;
            line-height: (30/12);
        }
        .form-group .form-control {
            width: 400px;
        }
    }
    .button-group {
        padding: 40px 0 20px;
        border-top: 1px solid #e5e5e5;
        text-align: center;
    }
}
.coupon-type {
    display: inline-block;
    width: 110px;
    border: 2px solid $brand-primary;
    @include border-radius(3px);
    font-weight: 700;
    font-size: 16px;
    line-height: ((43-4)/16);
    font-family: $font-family-ko;
    color: $brand-primary;
    text-align: center;
}
.coupon-num {
    display: block;
    margin-top: 8px;
}
.coupon-purpose {
    strong {
        display: block;
        font-weight: 400;
        color: #000;
    }
}
/**********************************************
 My Page - Coupon
***********************************************/
.coupon {
    .coupon-register {
        padding: 20px;
        border-top: 1px solid #e5e5e5;
        strong {
            margin-bottom: 0;
            line-height: (30/12);
        }
    }
    .button-group {
        padding: 40px 0 20px;
        border-top: 1px solid #e5e5e5;
        text-align: center;
    }
}
.coupon-type {
    display: inline-block;
    width: 110px;
    border: 2px solid $brand-primary;
    @include border-radius(3px);
    font-weight: 700;
    font-size: 16px;
    line-height: ((43-4)/16);
    font-family: $font-family-ko;
    color: $brand-primary;
    text-align: center;
    em {
        font-style: normal;
        font-family: $font-family-en;
    }
}
.coupon-num {
    display: block;
    margin-top: 8px;
}
.coupon-purpose {
    strong {
        display: block;
        font-weight: 400;
        color: #000;
    }
}

/**********************************************
 Join - Login
***********************************************/
.login-banner {
    margin: -40px 0 30px;
}
.login {
    .box {
        height: 394px;
        .box-explain {
            & + .form-group {
                margin-top: 7px;
            }
        }
        .button {
            margin-top: 32px;
        }
    }
}
.login-find {
    .find-id {
        float: right;
        &:after {
            display: block;
            margin-top: -2px;
            border-bottom: 1px solid #bdbdbd;
            content: '';
        }
    }
}

.forgot {
    @include clearfix;
    .box {
        height: 493px;
    }
    .findId-phone,
    .findPassword-phone {
        display: none;
    }
    .find-box {
        padding: 15px 0 10px;
        .radio:first-child {
            margin-right: 30px;
        }
    }
    .button {
        margin-top: 32px;
    }
}

/**********************************************
 Join - Sign Up
***********************************************/
.signup-agree {
    margin-bottom: 20px;
    .signup-agree-title {
        font-weight: 400;
        @include clearfix;
        .checkbox {
            float: left;
        }
        .button {
            float: right;
        }
        + .agree-box {
            display: none;
            margin-top: 20px;
        }
    }
}

/**********************************************
 Agree
***********************************************/
.agree-box {
    height: 200px;
    padding: 16px 21px;
    border: 1px solid #d5d5d5;
    @include border-radius(2px);
    background-color: #fff;
}