//
// Custom Change CSS
//------------------------------------------------

/**********************************************
 Layout
***********************************************/
.content{
    width: 1140px;
    margin: 0 auto;
    padding: 40px 0 60px;
}
.container {
    width: 1140px !important;
}

/**********************************************
 Header
***********************************************/
.header {
    padding-bottom: 21px;
    text-transform: uppercase;
}
.site-brand {
    margin-top: 73px;
    a {
        width: 180px;
    }
}
.site-utility {
    padding: 10px 0;
    background: url(../../images/common/washed-line.png) repeat-x 0 100%;
    margin: -137px 0 135px;
    @include clearfix;
    .link-sale {
        float: left;
    }
    .link {
        float: right;
        .link-login {
            float: left;
        }
        .menu-mypage {
            position: relative;
            float: left;
            margin-left: 20px;
            .mypage-dropdown {
                display: none;
            }
            &.open {
                .link-mypage {
                    position: inherit;
                    z-index: 110;
                }
                .mypage-dropdown {
                    display: block;
                    position: absolute;
                    top: -7px;
                    left: -10px;
                    z-index: 100;
                    width: 82px;
                    padding: 30px 0 6px;
                    background-color: #fff;
                    @include box-shadow(0 0 14px rgba(0,0,0,.1));
                    .mypage-item {
                        padding: 4px 10px;
                        list-style: none;
                        font-size: 11px;
                        &:first-child {
                            padding-top: 11px;
                            border-top: 1px solid #ccc;
                        }
                    }
                }
            }
        }
    }
}
.megaMenu {
    margin: 0 -34px;
    padding-left: 0;
    .megaMenu-item {
        float: left;
        padding: 0 34px;
        list-style: none;
        a {
            font-size: 14px;
            color: $brand-secondary;
            letter-spacing: 2.25px;
        }
        &:hover, &.current {
            a {
                padding-bottom: 1px;
                border-bottom: 1px solid $brand-primary;
                color: $brand-primary;
            }
        }
    }
}

/**********************************************
 Footer
***********************************************/
.footer {
    padding: 30px 0;
    background: url(../../images/common/washed-line.png) repeat-x 0 0;
    text-transform: uppercase;
}
.footer-menu {
    .footer-title {
        display: block;
        margin-bottom: 10px;
        color: $brand-secondary;
    }
    .footer-link {
        li {
            padding: 3px 0;
            font-size: 10px;
        }
    }
    .footer-sharing-link {
        li {
            float: left;
            font-size: 20px;
        }
    }
}
.business-info {
    margin: -3px 0 0 -20px;
    font-size: 11px;
    text-align: right;
    li {
        padding: 3px 0;
    }
    address {
        display: inline-block;
        font-style: normal;
    }
    span:before, address:before {
        display: inline-block;
        width: 1px;
        height: 10px;
        margin: 0 6px;
        background-color: #a6a6a6;
        content: '';
    }
    span:first-child:before {
        width: 0;
        margin: 0;
    }
}
.copyright {
    margin-top: 30px;
    padding-top: 15px;
    border-top: 1px solid #ebebeb;
    font-size: 10px;
    a {
        margin-left: 15px;
        text-transform: capitalize;
        &:first-child {
            margin-left: 20px;
        }
    }
}

/**********************************************
 Common
***********************************************/
.box {
    padding: 30px 30px 55px;
    background-color: #f5f5f5;
    .box-title {
        margin: 0 0 39px;
        padding-bottom: 16px;
        background: url(../../images/common/box-washed-line.png) no-repeat 0 100%;
        font-size: 14px;
        color: $brand-secondary;
        letter-spacing: 1px;
        text-align: center;
    }
}
.box-page-title {
    margin-bottom: 30px;
    font-size: 14px;
    color: $brand-primary;
    letter-spacing: 1px;
}
.placeholder {
    position: relative;
    label {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        padding: 0 10px;
        font-weight: normal;
        font-size: 12px;
        line-height: (30/12);
        font-family: $font-family-ko;
        color: #8d8d8d;
    }
}
.warning {
    color: #c20007;
}
// Paging
.paging{
    margin-right: 5px;
    padding: 15px 0;
    text-align: center;
    .prev{
        margin-right: 30px;
    }
    .next{
        margin-left: 20px;
    }
    i {
        color: #626262;
    }
    .prev.disabled,
    .next.disabled {
        i {
            color: #d7d7d7;
        }
    }
    .pagingNum{
        span{
            margin-right: 15px;
            a{
                color: $brand-secondary;
            }
            &:last-child{
                margin-right: 0;
            }
            &.current{
                text-decoration: underline;
            }
        }
    }
}

/**********************************************
 Product Style
***********************************************/
.discount {
    font-style: normal;
    text-decoration: line-through;
}
.price {
    font-weight: 400;
    color: $brand-secondary;
}
.product-info {
    .product-image {
        float: left;
    }
    .item-info {
        float: left;
        padding-left: 20px;
        .item-badge {
            display: inline-block;
            margin-bottom: 6px;
            padding: 0 10px;
            border: 1px solid $brand-secondary;
            font-size: 10px;
            line-height: (16-2)/10;
            font-family: $font-family-serif;
            color: $brand-secondary;
        }
        .item-brand {
            display: block;
        }
        .item-name {
            display: block;
            font-weight: 400;
            color: $brand-secondary;
        }
        .item-option {
            margin-top: 3px;
            li {
                margin-top: -2px;
                font-size: 10px;
            }
        }
    }
}

/**********************************************
 Join
***********************************************/
.login-banner {
    margin: -40px 0 30px;
}
.login {
    .box {
        height: 394px;
        .box-explain {
            & + .form-group {
                margin-top: 7px;
            }
        }
        .button {
            margin-top: 32px;
        }
    }
}
.login-find {
    .find-id {
        float: right;
        &:after {
            display: block;
            margin-top: -2px;
            border-bottom: 1px solid #bdbdbd;
            content: '';
        }
    }
}

.forgot {
    @include clearfix;
    .box {
        height: 493px;
    }
    .findId-phone,
    .findPassword-phone {
        display: none;
    }
    .find-box {
        padding: 15px 0 10px;
        .radio:first-child {
            margin-right: 30px;
        }
    }
    .button {
        margin-top: 32px;
    }
}

/**********************************************
 My Page Left Menu
***********************************************/
.leftMenu{
    float: left;
    .subTitle{
        text-transform: uppercase;
        color: #064787;
        font-size: 24px;
        letter-spacing: 2px;
        font-weight: 500;
        margin-bottom: 35px;
    }
    ul{
        li{
            margin-bottom: 20px;
            &:last-child{
                margin-bottom: 0;
            }
            a{
                color: $brand-secondary;
                font-size: 14px;
            }
            &.current a{
                text-decoration: underline;
                font-weight: bold;
            }
        }
    }
}

/**********************************************
 My Page - Wish list
***********************************************/
.wishlist {
    .wishlist-list {
        border-bottom: 1px solid #e5e5e5;
    }
    .table td {
        vertical-align: top;
    }
    .discount, .price {
        display: block;
    }
    .order-button {
        .button-block {
            margin-bottom: 9px;
        }
    }
    .wishlist-cancel {
        margin-top: -30px;
        font-size: 14px;
        text-align: right;
    }
}

/**********************************************
 My Page - 1:1문의 리스트
***********************************************/
.personal-support-wrap{
    display: inline-block;
    width: 100%;
    .bgSection{
        float: right;
        background-color: #f5f5f5;
        padding: 30px;
        h4{
            color: #064787;
            font-size: 14px;
            padding-bottom: 40px;
        }
        .personal-support-table{
            border-collapse: collapse;
            th{
                color: $brand-secondary;
                border-top: 1px solid #e5e5e5;
                border-bottom: 1px solid #e5e5e5;
                padding: 10px;
            }
            tr {
                >  td{
                    text-align: center;
                    border-bottom: 1px solid #e5e5e5;
                    padding: 10px;
                    background-color: #fff;
                    color: #858585;
                }
            }
        }
        .master{
            > td:nth-child(2){
                color: $brand-secondary;
            }
        }
        .slave{
            > td{
                padding-top: 0;
                padding-bottom: 0;
            }
            td{
                color: #858585;
                font-size: 12px;
                text-align: left;
                &:first-child{
                    font-size: 27px;
                    color: #4b4b4b;
                    text-align: center;
                    vertical-align: top;
                }
                .date{
                    color: #4b4b4b;
                    font-size: 11px;
                }
            }
            table{
                tr:last-child td{
                    border-bottom: 0;
                }
            }
        }
    }
    .buttonWrap{
        text-align: center;
        margin-top: 20px;
        border-top: 1px solid #e5e5e5;
        .button{
            width: 170px;
        }
    }
}

/**********************************************
 My Page - 1:1문의 쓰기 폼
***********************************************/
.personal-support-write-wrap{
    h4{
        border-bottom: 1px solid #e5e5e5 ;
    }
    .personal-support-write-table{
        tr{
            > td{
                padding: 7px 0;
            }
            th{
                padding: 7px 0 7px 15px;
                text-align: left;
                color: #000;
            }
            .input-button-group{
                max-width: 380px;
            }
        }
        .file_input_textbox{
            width: 85%;
        }
        .selectbox-block{
            max-width: 145px;
        }
        .email-wrap{
            max-width: 500px;
        }
    }
    .buttonWrap{
        padding-top: 20px;
    }
    #write-form-tel{
        max-width: 300px;
    }
}

/**********************************************
 My Page - Coupon
***********************************************/
.coupon {
    .coupon-register {
        padding: 20px;
        border-top: 1px solid #e5e5e5;
        strong {
            margin-bottom: 0;
            line-height: (30/12);
        }
    }
    .button-group {
        padding: 40px 0 20px;
        border-top: 1px solid #e5e5e5;
        text-align: center;
    }
}
.coupon-type {
    display: inline-block;
    width: 110px;
    border: 2px solid $brand-primary;
    @include border-radius(3px);
    font-weight: 700;
    font-size: 16px;
    line-height: ((43-4)/16);
    font-family: $font-family-ko;
    color: $brand-primary;
    text-align: center;
    em {
        font-style: normal;
        font-family: $font-family-en;
    }
}
.coupon-num {
    display: block;
    margin-top: 8px;
}
.coupon-purpose {
    strong {
        display: block;
        font-weight: 400;
        color: #000;
    }
}