//
// Forms
// --------------------------------------------------


// Normalize non-controls
//
// Restyle and baseline non-control form elements.

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
  padding: 0;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  font-size: ($font-size-base * 1.5);
  line-height: inherit;
  color: #333;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
}


// Normalize form controls
input[type="search"] {
  @include box-sizing(border-box);
}

// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9; // IE8-9
  line-height: normal;
}

input[type="file"] {
  display: block;
}

// Make range inputs behave like textual form controls
input[type="range"] {
  display: block;
  width: 100%;
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
  height: auto;
}

// Focus for file, radio, and checkbox
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  @include tab-focus;
}

// Adjust output element
output {
  display: block;
  padding-top: 7px;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $input-color;
}


// Common form controls
.form-control {
  display: block;
  width: 100%;
  height: $default-height;
  padding: 0 10px;
  border: 1px solid $input-border;
  @include border-radius(2px);
  background-color: $input-bg;
  background-image: none;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $input-color;

  // Disabled and read-only inputs
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    background-color: $input-bg-disabled;
    color: $text-color;
    opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
  }

  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
  }
}

// Reset height for `textarea`s
textarea.form-control {
  height: auto;
}

// Search inputs in iOS
input[type="search"] {
  -webkit-appearance: none;
}

.form-large {
  height: $large-height;
  line-height: $line-height-large;
}

// Form groups
.form-group {
  margin-bottom: $form-group-margin-bottom;
}

// Form Inline
.form-inline {
  display: inline-block;
  .form-control {
    width: auto;
    display: inline-block;
  }
}

// Input Group
.input-group {
  border-collapse: collapse;
  display: table;
  width: 100%;
  > div{
    display: table-cell;
    vertical-align: middle;
  }
  .input-group-addon{
    padding: 0 6px;
    text-align: center;
    &.blank{
      width: 5px;
      padding: 0;
    }
  }
}

// Input File
.file_input_div{
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  input{
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 0;
    border: 0 none;
    font-size: 29px;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: alpha(opacity=0);
    cursor: pointer;
  }
}
.file_input_textbox{
  padding: 0;
  border: 0 none;
  background-color: transparent;
}

.input-button-group{
  @include clearfix;
  .form-group {
    div {
      float: left;
      .form-control {
        width: auto;
        border-right: 0;
        @include border-radius(0);
      }
      .button {
        margin: 0;
        padding: 0 15px;
        @include border-radius(0);
      }
    }
    div:first-child * {
      margin-right: -1px;
      @include border-side-radius(top, left, 2px);
      @include border-side-radius(bottom, left, 2px);
    }
    div:last-child * {
      margin-left: -1px;
      @include border-side-radius(top, right, 2px);
      @include border-side-radius(bottom, right, 2px);
    }
  }
}

// Input 의 Placeholder 정의 (custom.js)
.placeholder {
  position: relative;
  label {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 0 10px;
    font-weight: normal;
    font-size: 12px;
    line-height: (30/12);
    font-family: $font-family-ko;
    color: #8d8d8d;
  }
}

// Select Box
.selectbox {
  position: relative;
  display: inline-block;
  border: 1px solid $border-color;
  text-align: left;
  @include border-radius(2px);
  background-color: #fff;
  select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 30px;
    opacity: 0;
  }
  .selectbox-value {
    padding: 0 30px 0 10px;
    background-color: #fff;
    font-weight: normal;
    font-size: $font-size-base;
    line-height: (($default-height - $border-size*2)/$font-size-base);
    font-family: $font-family-ko;
    color: $text-color !important;
    &:after {
      display: inline-block;
      position: absolute;
      top:0;
      bottom:0;
      right:10px;
      width: 0;
      height: 0;
      margin: auto;
      border: 5px solid transparent;
      border-width: 5px 5px 0;
      border-top-color: #858585;
      content:"";
    }
  }
}
.selectbox-block{
  .selectbox{
    display: block;
    width: 100%;
  }
  .selectbox-value{
    display: block;
  }
  select{
    width: 100%;
  }
}
.selectbox-group { // 붙어 있는 Select Box (생년월일)
  @include clearfix;
  .selectbox {
    float: left;
    margin-right: -1px;
  }
}

// Checkbox, Radio
.checkbox,
.radio {
  display: inline-block;
  input[type="checkbox"],
  input[type="radio"]{
    position: fixed;
    top: -9999px;
    left: -9999px;
    visibility: hidden;
  }
  .checkbox-display,
  .radio-display{
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 3px 6px 5px 0;
    background: url(../../images/common/form-checkbox.png) 0 0;
    vertical-align: middle;
  }
  input[type="checkbox"]:checked + .checkbox-display,
  input[type="radio"]:checked + .radio-display{
    background: url(../../images/common/form-checkbox-checked.png) 0 0;
    transition: all 0.3s ease;
  }
  .radio-display {
    background-image: url(../../images/common/form-radio.png);
  }
  input[type="radio"]:checked + .radio-display {
    background-image: url(../../images/common/form-radio-checked.png);
  }
}
.checkbox-block { // 동의 체크박스
  display: block;
  margin-top: 10px;
}
.radio-group { // 한줄로 나열되는 라디오버튼
  .radio {
    margin-right: 25px;
  }
}

// Input Help text
.help-inline {
  display: inline-block;
  margin-left: 10px;
  color: #858585;
}
.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #858585;
}
.help-success {
  color: #004689;
}
.help-info {
  color: #197b30;
}
.help-danger {
  color: #c20007;
}
