//
// Forms
// --------------------------------------------------


// Normalize non-controls
//
// Restyle and baseline non-control form elements.

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: ($font-size-base * 1.5);
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}


// Normalize form controls
input[type="search"] {
  @include box-sizing(border-box);
}

// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9; // IE8-9
  line-height: normal;
}

input[type="file"] {
  display: block;
}

// Make range inputs behave like textual form controls
input[type="range"] {
  display: block;
  width: 100%;
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
  height: auto;
}

// Focus for file, radio, and checkbox
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  @include tab-focus;
}

// Adjust output element
output {
  display: block;
  padding-top: 7px;
  font-size: $font-size-base;
  line-height: (($default-height - $border-size*2)/$button-small-font-size);
  color: $input-color;
}


// Common form controls
.form-control {
  display: block;
  width: 100%;
  height: $default-height;
  padding: 0 10px;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $input-color;
  background-color: $input-bg;
  background-image: none;
  border: 1px solid $input-border;

  // Disabled and read-only inputs
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    background-color: $input-bg-disabled;
    opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
  }

  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
  }
}

// Reset height for `textarea`s
textarea.form-control {
  height: auto;
}

// Search inputs in iOS
input[type="search"] {
  -webkit-appearance: none;
}

// Form groups
.form-group {
  margin-bottom: $form-group-margin-bottom;
}


/* 인풋그룹 */
.input-group {
  display: table;
  width: 100%;
  border-collapse: collapse;
  > div{
    display: table-cell;
    vertical-align: middle;
  }
  .input-group-addon{
    padding: 0 6px;
    text-align: center;
    &.blank{
      padding: 0;
      width: 5px;
    }
  }
}

.file_input_div{
  position: relative;
  width: 80px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  input{
    border: 0 none;
    padding: 0;
    font-size: 29px;
    position: absolute;
    right: 0px;
    top: 0px;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: alpha(opacity=0);
    cursor: pointer;
  }
}
.file_input_textbox{
  padding: 0;
  background-color: transparent;
  border: 0 none;
}

// input, button group
.input-button-group{
  display: table;
  width: 100%;
  .form-control{
    display: table-cell;
    border-right: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .button{
    display: table-cell;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

//selectbox
/********************* selectbox *******************/
.selectbox{
  display: inline-block;
  select{
    height: 34px;
    background-color: #fff;
    border: 1px solid #858585;
    font-size: 14px;
  }
}
.selectbox-style {
  position: relative;
  border: 1px solid $border-color;
  @extend %border-radius;
  select{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .selectbox-value {
    line-height: (($default-height - $border-size*2)/$font-size-base);
    font-size: $font-size-base;
    position: relative;
    padding: 0 10px;
    padding-right: 30px;
    font-weight: normal;
    background-color: #fff;
    &:after{
      content:"";
      display: inline-block;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #858585;
      position: absolute;
      top:0;
      bottom:0;
      right:10px;
      margin: auto;
    }
  }
}

.selectbox-block{
  .selectbox{
    display: block;
    width: 100%;
  }
  .selectbox-value{
    display: block;
  }
  select{
    width: 100%;
  }
}

// Checkbox, Radio
.checkbox,
.radio {
  display: inline-block;
  input[type="checkbox"],
  input[type="radio"]{
    position: fixed;
    top: -9999px;
    left: -9999px;
    visibility: hidden;
  }
  .checkbox-display,
  .radio-display{
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 3px 6px 5px 0;
    background: url(../../images/common/form-checkbox.gif) 0 0;
    vertical-align: middle;
  }
  input[type="checkbox"]:checked + .checkbox-display,
  input[type="radio"]:checked + .radio-display{
    background: url(../../images/common/form-checkbox-checked.gif) 0 0;
    transition: all 0.3s ease;
  }
  .radio-display {
    background-image: url(../../images/common/form-radio.png);
  }
  input[type="radio"]:checked + .radio-display {
    background-image: url(../../images/common/form-radio-checked.png);
  }
}

// Help text
.help-block {
  display: block; // account for any element using help-block
  margin-top: 5px;
  margin-bottom: 10px;
  color: #000; // lighten the text some for contrast
}