//
// Typography Settings
// --------------------------------------------------

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
//@font-face {
//    font-family: "notoSans";
//    font-weight: 400;
//    src: url("../fonts/NotoSansCJKkr-Regular.eot?") format('eot'),
//    url("../fonts/NotoSansCJKkr-Regular.woff") format('woff'),
//    url("../fonts/NotoSansCJKkr-Regular.otf")  format('opentype');
//}
//@font-face {
//    font-family: "notoSans";
//    font-weight: 700;
//    src: url("../fonts/NotoSansCJKkr-Bold.eot?") format('eot'),
//    url("../fonts/NotoSansCJKkr-Bold.woff") format('woff'),
//    url("../fonts/NotoSansCJKkr-Bold.otf")  format('opentype');
//}
@font-face {
    font-family: "BentonSans";
    font-weight: 400;
    src: url("../fonts/BentonSans-Regular.eot?") format('eot'),
    url("../fonts/BentonSans-Regular.woff") format('woff'),
    url("../fonts/BentonSans-Regular.otf")  format('opentype');
}
@font-face {
    font-family: "BentonSans";
    font-weight: 500;
    src: url("../fonts/BentonSans-Medium.eot?") format('eot'),
    url("../fonts/BentonSans-Medium.woff") format('woff'),
    url("../fonts/BentonSans-Medium.otf")  format('opentype');
}
@font-face {
    font-family: "BentonSans";
    font-weight: 700;
    src: url("../fonts/BentonSans-Bold.eot?") format('eot'),
    url("../fonts/BentonSans-Bold.woff") format('woff'),
    url("../fonts/BentonSans-Bold.otf")  format('opentype');
}