.button { //기본 버튼
    position: relative;
    display: inline-block;
    margin: 0 3px;
    padding: 0 30px;
    border: 1px solid transparent;
    @include border-radius(3px);
    background-color: #898989;
    font-size: $font-size-base;
    line-height: (($default-height - 2)/$font-size-base);
    font-family: $font-family-ko;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-appearance: none;
    &:hover,
    &:focus {
        color: #fff;
        text-decoration: none;
    }
    &:first-child {
        margin-left: 0;
    }
    &:last-child {
        margin-right: 0;
    }
}

/* Purpose Definition */
// Button Size
.button-large { // 하단 Submit 버튼
    padding: 0 50px;
    font-size: $button-large-size;
    line-height: (($large-height - 2)/$button-large-size);
}
.button-small { // 게시판 용도
    padding: 0 11px;
    @include border-radius(2px);
    font-size: $button-small-size;
    line-height: (($small-height - 2)/$button-small-size);
}
.button-xsmall { // 게시판 용도
    padding: 0 11px;
    @include border-radius(2px);
    font-size: $button-xsmall-size;
    line-height: (($xsmall-height - 2)/$button-xsmall-size);
}
.button-input {
    padding: 0 15px;
}

// Button Color
.button-primary { // 파란색 대표 버튼
    background-color: $brand-primary;
}
.button-secondary { // 파란색 border 버튼
    border-color: $brand-primary;
    background-color: transparent;
    color: $brand-primary;
    &:hover,
    &:focus {
        color: $brand-primary;
    }
}
.button-third { // 검정색 bg 버튼
    background-color: $brand-secondary;
}
//.button-warning { // 회색 버튼 (취소)
//    background-color: #898989;
//}
.button-danger { // 삭제, 변경 버튼
    border: 1px solid $text-color;
    background-color: #fff;
    color: $text-color;
    &:hover,
    &:focus {
        color: $text-color;
    }
}

// Button Layout
.button-block{ // 버튼 100%
    display: block;
    width: 100%;
    margin: 0;
}

.button-group { // 다수버튼이 붙어 있는 경우
    display: table;
    width: 100%;
    font-size: 0;
    div {
        display: table-cell;
        margin: 0 0 0 -1px;
        .button {
            width: 100%;
            border-width: 1px 0 1px 1px;
            @include border-radius(0);
        }
        &:first-child .button {
            border-left-width: 1px;
            @include border-side-radius(top,left,3px);
            @include border-side-radius(bottom,left,3px);
        }
        &:last-child .button {
            border-right-width: 1px;
            @include border-side-radius(top,right,3px);
            @include border-side-radius(bottom,right,3px);
        }
    }
}

.button-inline-group {
    margin: 20px -5px 0;
    div {
        padding: 0 5px;
    }
    .button {
        width: 100%;
        padding: 0;
    }
}

.button-auto-group {
    display: table;
    width: 100%;
    margin: 0;
    div {
        display: table-cell;
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }
}

// Button Align
.button-align { // 하단 양쪽 사이드 버튼
    margin-top: 20px;
    text-align: center;
    @include clearfix;
    .button-left {
        float: left;
    }
    .button-right {
        float: right;
    }
}
.button-align-center { // 하단 가운데 버튼
    margin-top: 20px;
    text-align: center;
    @include clearfix;
}

// ETC
.button-calendar {
    padding: 0 8px !important;
    background-color: #acacac;
}