//
// Scaffolding
// --------------------------------------------------

// Typography
@font-face {
  font-family: "notoSans";
  font-weight: 400;
  src: url("../fonts/NotoSansCJKkr-Regular.eot?") format('eot'),
  url("../fonts/NotoSansCJKkr-Regular.woff") format('woff'),
  url("../fonts/NotoSansCJKkr-Regular.otf")  format('opentype');
}
@font-face {
  font-family: "notoSans";
  font-weight: 500;
  src: url("../fonts/NotoSansCJKkr-Medium.eot?") format('eot'),
  url("../fonts/NotoSansCJKkr-Medium.woff") format('woff'),
  url("../fonts/NotoSansCJKkr-Medium.otf")  format('opentype');
}
@font-face {
  font-family: "notoSans";
  font-weight: 700;
  src: url("../fonts/NotoSansCJKkr-Bold.eot?") format('eot'),
  url("../fonts/NotoSansCJKkr-Bold.woff") format('woff'),
  url("../fonts/NotoSansCJKkr-Bold.otf")  format('opentype');
}
@font-face {
  font-family: "BentonSans";
  font-weight: 400;
  src: url("../fonts/BentonSans-Regular.eot?") format('eot'),
  url("../fonts/BentonSans-Regular.woff") format('woff'),
  url("../fonts/BentonSans-Regular.otf")  format('opentype');
}
@font-face {
  font-family: "BentonSans";
  font-weight: 500;
  src: url("../fonts/BentonSans-Medium.eot?") format('eot'),
  url("../fonts/BentonSans-Medium.woff") format('woff'),
  url("../fonts/BentonSans-Medium.otf")  format('opentype');
}
@font-face {
  font-family: "BentonSans";
  font-weight: 700;
  src: url("../fonts/BentonSans-Bold.eot?") format('eot'),
  url("../fonts/BentonSans-Bold.woff") format('woff'),
  url("../fonts/BentonSans-Bold.otf")  format('opentype');
}

// Reset the box-sizing
* {
  @include box-sizing(border-box);
}
*:before,
*:after {
  @include box-sizing(border-box);
}


// Body reset
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $body-bg;
}

ul,
ol,
li {
  list-style: none;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}


// Links

a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: none;
  }

  &:focus {
    @include tab-focus;
  }
}

figure {
  margin: 0;
}

img {
  width: 100%;
  vertical-align: middle;
}

hr {
  margin-top:    20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.sr-only-focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}

[role="button"] {
  cursor: pointer;
}